*{
    
        margin: 0;
       padding: 0;
       box-sizing: border-box;
    }
    body{
        
        background: linear-gradient(0.25turn, #c1e8f8, #72e4c2); 
       }
   
 nav{
     background-color: rgba(255, 255, 255, 0.603);
     padding: 10px;
     width: 100%;
 } 

 nav i {
     display: inline-block;
     color: #000;
     position: fixed;
 }
  .title{
      width: 80%;
    display:inline-block;
    text-align: center;
 }
 .title h1{
     display:inline-block;
 }
/*$$$$$$$$$$$$$$$$$$$$$$$$$$*/

.containte{
    direction: rtl;
    width: 60%;
    height: 30%;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.692);
    margin: 10% 25%;
    padding: 5%;

}
.containte p{
    font-weight: 900;
    font-size: 19px;
}
.containte  span{
    font-size: 14px;
    color: rgba(0, 0, 0, 0.596);
}
.containte  h6{
    color: #204137;
    font-size: 19px;
    font-weight: 600;
}
/*----------------------------------*/
#value{
    color: #1f1e1e;
 margin: 20px;
    font-size: 30px;
  font-weight: bold;
display: flex;
justify-content: center;
align-items:center ;
}
.btn{
    width: 45px;
    font-size: 15px;
    border: none;
    padding: 7px 4px;
    margin: 5px 4px;
    border-radius: 20px;
    box-shadow: -3px -3px 3px white inset , 3px 3px 3px  grey inset;
    background: transparent;
}
.btn:hover{
    box-shadow: 4px 4px 4px rgb(80, 79, 79), -3px -3px 3px white;
    background-color: #72e4c2;
    color: white;
}
.cont-val{
    margin: 56% 24%;
}
@media screen and (min-width:740px) {

    .cont-val{
        margin: 10% 24%;
    }
    #value{
        color: #1f1e1e;
     margin: 20px;
        font-size: 30px;
      font-weight: bold;
    display: flex;
    justify-content: start;
    }
}
